
Data/allunrequired.csv
Data/log.txt
Data/log.txt
Data/london.csv
Data/london_new.csv
Data/partialunrequired.csv
Data/southeast.csv
Data/southeast_new.csv
Db/__pycache__/Actions.cpython-37.pyc
Db/__pycache__/Actions.cpython-37.pyc
Email/__pycache__/Analyze.cpython-37.pyc
File/__pycache__/Operations.cpython-37.pyc
Interface/__pycache__/Prompts.cpython-37.pyc
Web/__pycache__/Requests.cpython-37.pyc
Data/log.txt
Db/__pycache__/Actions.cpython-37.pyc
*.pyc
*.pyc
